@font-face {
    font-family: 'steppe';
    src: url('fonts\Steppe-Bold.otf');
}

@font-face {
    font-family: 'steppe';
    src: url('fonts\Steppe-Bold.otf');
}

@font-face {
    font-family: 'steppe';
    src: url('fonts\Steppe-Book.otf');
}

@font-face {
    font-family: 'steppe';
    src: url('fonts\Steppe-ExtraBold.otf');
}

@font-face {
    font-family: 'steppe';
    src: url('fonts\Steppe-Thin.otf');
}

@font-face {
    font-family: 'Zodchiy';
    src: url('fonts\Zodchiy-Regular.ttf');
}

@font-face {
    font-family: 'benzin-regular';
    src: url('fonts\Benzin Regular.ttf');
}

@font-face {
    font-family: 'benzin-semibold';
    src: url('fonts\Benzin Semibold.ttf');
}